<%- include('../layout/head.ejs') %> 

<body>
    <%- include('../layout/admin-header.ejs'); %>

    <!--Admin Page Wrapper-->
    <div class="admin-wrapper">

        <!--Left sidebar-->
        <%- include('../layout/left-sidebar.ejs') %> 
        <!--Left sidebar-->

        <!--Admin content-->
    <div class="admin-content">
        <div class="button-group">
            <a href="/addPost" class="btn btn-big">Add Post</a>
            <a href="/managePost" class="btn btn-big">Manage Post</a>
        </div>

        <div class="content">

            <h2 class="page-title">Manage Post</h2>
            <form action="/addPost" method="post" enctype="multipart/form-data">
            <div>
                <label>Title</label>
                <input type="text" name="title" id="title" class="text-input">
            </div>
            <div>
                <label>Body</label>
                <textarea name="body" id="body"></textarea>
            </div>
            
            <div>
                <label>Image</label>
                <input type="file" name="image" id="image" class="text-input">
            </div>
            <button type="submit" class="btn btn-big">Add Post</button>
            </form>

        </div>

    </div>
        <!--Admin content-->
    </div>

</body>
</html> 