<header>
    <div class="logo">      <!--Logo heseg-->
        <h1 class="logo-text">Admin</h1>
    </div>
<!--Menu heseg-->
<i class="fa fa-bars menu-toggle"></i>
    <ul class="nav">
        <li>
            <a href="#">
                <i class="fa fa-user"></i>
                Admin
                <i class="fa fa-chevron-down"></i>
            </a>
        <ul>
            <li><a href="/logout" class="logout">Logout</a></li>
        </ul>
        </li>
    </ul>
</header>