<!--footer-->
<div class="footer">
    <div class="footer-content">
        <div class="footer-section about">
            <img src="/images/logo.png" alt="" class="logo-text">
            <p>gg
            </p>
            <div class="contact">
                <span><i class="fas fa-phone"></i> &nbsp; 99705855</span>
                <span><i class="fas fa-envelope"></i> &nbsp; tumee.mooloo@email.com</span>
            </div>
            <div class="socials">
                <a href="#"><i class="fab fa-facebook"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
                <a href="#"><i class="fab fa-youtube"></i></a>
            </div>
        </div>

        

        <div class="footer-section contact-form">
            <h2>Contact Us</h2>
            <br>
            <form action="index.html" method="post">
                <input type="email" name="email" class="text-input contact-input" placeholder="Email...">
                <textarea name="message" class="text-input contact-input" placeholder="Message..."></textarea>
                <button type="submit" class="btn btn-big contact-btn">
                    <i class="fas fa-envelope"></i>
                    Send
                </button>
            </form>
        </div>

    </div>

    <div class="footer-bottom">
        &copy; 
    </div>
</div>
<!--footer-->