<div class="left-sidebar">
    <img src="/images/user.png" style="border-radius: 50%; height: 100px; margin-left: 65px;">
    <br>
    <h4 style="text-align: center;">Dashboard</h4><br><br>
    <ul>
        <li><a href="/managePost">Manage Post</a></li>
        <li><a href="/manageUser">Manage User</a></li>
    </ul>
</div>