<%- include('layout/head.ejs') %> 
<body>
    <%- include('layout/header.ejs'); %>
    <!--Page Wrapper-->
    <div class="page-wrapper">

        <!--Content-->

        <div class="content clearfix">
            
        <!--Main Content-->
            <div class="main-content about">
                <h1 class="post-title about">Бидний тухай(AHIIN AJLIIN WEBSITE)</h1>
                <div class="post about">
                    <img src="../images/miningCarHighlight.jpg" alt="" class="post-image">
                    <div class="post-preview">
                        <h2>БИД ЮУ ХИЙДЭГ ВЭ?</h2>
                        <p class="preview-text" >


                            Бид эрдэс боловсруулалт, уул уурхайн олборлолт, эрчим хүчний барилга угсралт,
                            төхөөрөмжийн угсралт, суурилуулалт, дэд бүтцийн барилга байгууламж угсралт, 
                            тэдгээрийн зөвлөх үйлчилгээ гэсэн үндсэн чиглэлүүдээр үйл ажиллагаа явуулдаг ба 
                            Нүүрсний хийн станц, Хагас кокс буюу утаагүй түлшний үйлдвэр, Хүрэн нүүрсний хатаах үйлдвэр, 
                            Нүүрс бэлтгэх үйлдвэрийг Монгол улсад анх удаа барьж байгуулсан нүүрс боловсруулах технологийн анхдагч компани юм.<br><br>
                            Одоогийн байдлаар 30 гаруй инженер техникийн ажилчид, 60 гаруй угсралт 
                            суурилуулалтын болон засвар үйлчилгээний мэргэжлийн ажилчдын баг аюулгүй 
                            ажиллагаа, хөдөлмөр хамгаалалын олон улсын стандартыг мөрдөн ажиллаж байна.</p>
                    </div>
                </div>

            </div>
        <!--//Main Content-->

        <!--Content-->
    </div>  
    
    <%- include('layout/footer.ejs'); %>

    <!--Jquery-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    
    <!--Slick-->
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <!--JS-->
</body>
</html>