<%- include('./layout/head.ejs') %> 

</head>
<body>
    <%- include('./layout/admin-header.ejs') %> 
    <!--Admin Page Wrapper-->
    <div class="admin-wrapper">

        <!--Left sidebar-->
        <%- include('./layout/left-sidebar.ejs') %> 
        <!--Left sidebar-->

        <!--Admin content-->
    <div class="admin-content">
        <div class="button-group">
            
        </div>

        <div class="content">

            <h2 class="page-title"></h2>

        
        </div>

    </div>
        <!--Admin content-->
    </div>
</body>
</html> 