
<%- include('layout/head.ejs'); %>

<body>
    <%- include('layout/header.ejs'); %>
    <!--Page Wrapper-->

    <div class="page-wrapper">

        <!-- background -->
        <body onload="startTimer()">
            <div id="img" class="swapingImages">
                
            </div>
        </body>
        <!-- background -->

        <!--Content-->

        <!--Content-->
    </div>

    <%- include('layout/footer.ejs'); %>

    <!--Jquery-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    
    <!--Slick-->
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <!--JS-->
    <script src="../js/scripts.js"></script>
</body>
</html>